* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-board {
    background-color: #001123;
}

#canvas {
    display: block;
    padding: 5px;
}